<h1>Adicione um Tutor</h1>
<form action="/tutor" method="POST" class="form">
  <div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite o nome do tutor">
  </div>
  <div class="form-control">
    <label for="phone">Telefone:</label>
    <input type="text" name="phone" placeholder="Digite o Telefone">
  </div>
  <div class="form-control">
    <label for="email">email:</label>
    <input type="text" name="email" placeholder="Digite o email">
  </div>
  <div class="form-control">
    <label for="date_of_birth">Data de Nascimento:</label>
    <input type="date" name="date_of_birth" >
  </div>
  <div class="form-control">
    <label for="zip_code">Codigo Postal:</label>
    <input type="text" name="zip_code" placeholder="Digite o Codigo postal">
  </div>
  <input type="submit" value="Cadastrar">
</form>